body {
    background-color: white;
   
   
}
#resume-container {
    background-color:#f3f4f3 ;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(10, 32, 20, 0.5);
}
.routing {
  display: flex;
  margin-left: 60%;
  margin-top:2%;
  margin-bottom: 2%;


}

.routing #resume a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(35, 36, 36);
  font-size: 13pt;
  display: inline-block;
  /* margin: 0 auto; */
  margin-top: 20px;

}

.routing #scrum-link a:hover {
  text-shadow: rgb(183, 218, 76) 5px 0 10px;
 
 
}

.routing #github a, .routing #linkedin a {
  color: rgb(35, 36, 36);
  text-shadow: 0 0 5px rgb(10, 32, 20, 0.2);


}
.routing #github {
  margin-left: 1%;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));

}

.routing #github:hover {
  background-color: rgb(183, 218, 76);
  border-radius: 100%;
  box-shadow: rgb(183, 218, 76) 5px 5px 10px;

  

}
.routing #linkedin {
  margin-left: 1%;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));

}

.routing #linkedin:hover {
  background-color: rgb(183, 218, 76);
  border-radius: 10%;
  box-shadow: rgb(183, 218, 76) 5px 5px 10px;

}
.row #fun-bar {
  background-color: rgb(183, 218, 76);
  border-radius: 20px;
  /* margin-left: -10%; */
  display: inline-flexbox;
  padding-right: 10px;
  box-shadow: rgb(3, 78, 49) 5px 5px 10px ;
 cursor:default;
  
}
.row ul {
  display: inline-block;
align-self: auto;
  padding: 10px;

}
.row h3 {

  
  display: flex;
  text-align: center;

}
.row #fun-bar li a {
  color: rgb(3, 78, 49);
  display: flex;
 
 



}
.row #fun-bar li :hover {
  box-shadow: rgb(3, 78, 49) 5px 5px 10px ;
  display: flex;
  text-decoration: none;

}

