body {
  background-color: lightblue;
  margin-bottom: 10%;
  color: rgb(49, 33, 16);
}
@media only screen and (max-width: 600px) {
  body {
    padding: 5%;
  }
}

/* NAVIGATION BAR */
.routing {
  
  display: flex;
  justify-content: flex-end;
  padding-top:2%;
  background-image: linear-gradient(to right,rgb(0,0,0,0),floralwhite, rgba(255,0,0,0));
  color:floralwhite;
  border: 5px solid;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-image: linear-gradient(to right, rgb(0,0,0,0),rgb(0,0,0,0),rgb(0,0,0,0),rgb(226, 199, 181),rgb(204, 78, 63),rgb(204, 78, 63), rgb(226, 199, 181),rgb(0,0,0,0)) 1;

}
@media only screen and (max-width: 600px) {
  .routing {
    justify-content: flex-start;
    
  }
}

/* .routing #resume a {
  font-family: 'Major Mono Display', monospace;
  color: rgb(49, 33, 16);
  font-size: 13pt;
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;

}
.routing #resume a:hover {
  color:floralwhite;
  text-decoration: none;
  text-shadow: rgb(204, 78, 63) 5px 0 10px;

 
 
} */
button {
  font-family: 'Major Mono Display', monospace;
  font-size: 15pt;
  background-color:rgb(191,179,76 );
  color: rgb(49, 33, 16);
  box-shadow: #312110 5px 5px 10px;
  border: none;
  margin-top: 10%;
  border-radius: 20px;
  padding: 8px 10px;
  text-decoration: underline rgb(204, 78, 63);
}

button:hover{
  border: 1px solid rgb(49, 33, 16) ;
  text-decoration: none;
  box-shadow: none;
}
#icon {
  margin-right: 7px;

}

/*  SEE FSE LINK INLINE STYLING */
 #fse-link {
  text-decoration: none;
 
 }




.routing #github, .routing #linkedin {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  filter: drop-shadow(3px 5px 2px rgb(191,179,76 ));

}
@media only screen and (max-width: 600px){
  .routing #github, .routing #linkedin {
    margin-top: 5%;
  }
}
.routing #github:hover, .routing #linkedin:hover {
  filter: drop-shadow(3px 5px 2px rgb(191,179,76, 0.1 ));
  
 
 
}



/* SIDE BAR */
.row #fun-bar {
  padding-top: 5%;
  background-color: rgb(204, 78, 63);
  border-radius: 100px 100px 20px 20px;
  display: inline-flexbox;
  padding-right: 10px;
  box-shadow: rgb(49, 33, 16) 5px 5px 10px ;
  cursor:default;
  height: 65em;
}
@media only screen and (max-width: 600px) {
  .row #fun-bar {
    display: none;
  }
}

.row ul {
  display: inline-block;
  align-self: auto;
  padding: 10px;

}

.row #fun-bar h3 {
  /* text-decoration: underline; */
  display: flex;
  justify-content: flex-end;
  font-family: 'Slabo 27px', serif;
  color: floralwhite;
  text-shadow: 0 0 3px rgb(204, 78, 63);

}

.skills {
  /* text-decoration: none; */
  color: rgb(49, 33, 16);
  display: flex;
 
 
}

.skills:hover {
  box-shadow: rgb(49, 33, 16) 5px 5px 10px ;
  display: flex;
  text-decoration: none;
  font-size: large;
  border-radius: 10pt;
  background-color: rgb(226, 199, 181);
  padding: 3px;

}
 
/* RESUME */
#resume-container {
  text-align: justify;
  font-family: 'Slabo 27px', serif;
  background-color:floralwhite ;
  padding: 20px;
  border-radius: 20px 20px 20px 20px ;
  box-shadow: rgb(49, 33, 16) 5px 5px 30px ;
  color: rgb(49, 33, 16);

}
@media only screen and (max-width: 600px){
  #resume-container {
    display: block;
    justify-items: center;
    justify-content: center;
    font-size: 70%;
    height: 50em;
    overflow-x: hidden;
    overflow-y: auto;

  }
}
li {
  font-family: 'Slabo 27px', serif;
  text-align: justify;
  
}

.contact h1 {
  
  color: floralwhite;
  font-size: 50pt;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  text-shadow: 0 0 5px #A48673;;
    
 
 }

 .contact .cont-info {
  font-family: 'Slabo 27px', serif;
  display: flex;
  justify-content: center;
  color: rgb(49, 33, 16);
 
 }
 @media only screen and (max-width: 600px) {
  .contact .cont-info {
    font-size: 80%;
  }
}

.divider {
  display:flex;
  justify-content: center;
  background-color: rgb(191,179,76 );
  border-radius: 5px;
  height: .5em;
  
}

#about {
  padding:1%;
  color: rgb(49, 33, 16);
  
}

.professional-container {
  padding-left: 10%;

}

.professional-container h4 {
  color: rgb(191,179,76 );

}

.professional-container span {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  color:rgb(191,179,76 );
  font-size: 20pt;


}

.certs span {
margin-bottom: 2%;
color:rgb(204, 78, 63);

}

footer {
  margin-left: 6%;
}

.extras {
  margin-left:10%
}

.extras h4 {
  color:rgb(191,179,76 );
}

.extras span {
  color:rgb(204, 78, 63);
}

h3{
  margin-left: -10%;
}
 
.about h3 {
  color:rgb(204, 78, 63);
  margin-left: .5%;
  padding-bottom: 1%;
}

#searchbar{

  margin-top: 7%;
  padding:15px;
  border-radius: 10px;
  /* width: 200px; */
  width: 50%;
  background-color: floralwhite;
  border-color:rgb(49, 33, 16);

}
@media only screen and (max-width: 600px) {
  #searchbar {
    display: none
  }
}

input[type=text] {
   width: 30%;
   -webkit-transition: width 0.15s ease-in-out;
   transition: width 0.15s ease-in-out;
}


.skills{
display: list-item;   
margin-bottom: 2%;
text-decoration: underline;
margin-left: 9%; 
} 

.header {
  display: h3; 
}
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color:rgb(49, 33, 16);
  color: floralwhite;
  font-size: 100%;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: -1.6em;
  left: 100%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  border-radius: 10px;
  z-index: 99999;
  visibility: hidden;
}
[data-title] {
  position: relative;
}