body {
  background-color: rgb(164, 134, 115);

}
 
#resume-container {
  font-family: 'Cousine', monospace;
  background-color:floralwhite ;
  padding: 20px;
  border-radius: 600px;
  box-shadow: 0 0 100px rgb(226, 199, 181);

}

.professional-container {
  border: 1px solid red;
}
.professional-container h4 {
  color: rgb(164, 134, 115);
}
.professional-container span {
  color:rgb(204, 78, 63)
}
#about {
  width: 50em;
  margin-top: 3%;
  margin-left: 8%;
  
}


.routing {
  display: flex;
  margin-left: 52%;
  margin-top:2%;
  margin-bottom: 2%;


}

.routing #resume a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(49, 33, 16);
  font-size: 13pt;
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;

}
.routing #resume a:hover {
  color:floralwhite;
  text-decoration: none;
  text-shadow: rgb(226, 199, 181) 5px 0 10px;
 
 
}
 #fse-link {
  text-decoration: none;
  cursor: default;
  
 }


.routing #github a, .routing #linkedin a {

  margin-top: 3%;
  color: rgb(49, 33, 16);
  text-shadow: 0 0 5px rgb(10, 32, 20, 0.2);


}
.routing #github {
  margin-left: 1%;
  filter: drop-shadow(3px 5px 2px rgb(226, 199, 181));

}

.routing #github:hover {
  background-color: rgb(226, 199, 181);
  border-radius: 50%;
  box-shadow: rgb(226, 199, 181) 5px 5px 5px;

  

}
.routing #linkedin {
  margin-left: 1%;
  filter: drop-shadow(3px 5px 2px rgb(226, 199, 181));

}

.routing #linkedin:hover {
  background-color: rgb(226, 199, 181);
  border-radius: 100%;
  box-shadow: rgb(226, 199, 181) 5px 5px 5px;

}
.row #fun-bar {
  padding-top: 5%;
  background-color: rgb(226, 199, 181);
  border-radius: 100px 100px 20px 20px;
 
  /* margin-left: -10%; */
  display: inline-flexbox;
  padding-right: 10px;
  box-shadow: rgb(49, 33, 16) 5px 5px 10px ;
 cursor:default;
  
}
.row ul {
  display: inline-block;
  align-self: auto;
  padding: 10px;

}
.row #fun-bar h3 {
  text-decoration: underline;
  display: flex;
  justify-content: center;
  font-family: 'Cousine', monospace;
  color: floralwhite;
  text-shadow: 0 0 3px rgb(204, 78, 63);


}
.row #fun-bar li a {
  text-decoration: none;
  color: rgb(49, 33, 16);
  display: flex;
 
}
.row #fun-bar li :hover {
  box-shadow: rgb(49, 33, 16) 5px 5px 10px ;
  display: flex;
  text-decoration: none;
  font-size: large;
  border-radius: 10pt;
  background-color: rgb(226, 199, 181);
  padding: 3px;

}

 .contact .cont-info {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
 
   
 }
 .contact h1 {

  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  text-shadow: 0 0 10px rgb(164, 134, 115);
  color: floralwhite;
  font-size: 50pt;
  display: flex;
  justify-content: center;
  margin-top: 10%;
 
 }
.divider {
  
   
    background-color: rgb(191,179,76 );
    border-radius: 5px;
    height: .5em;
    width: 50em;
    margin-left: 7%;
    
   
}
