/* font-family: 'Bodoni Moda', serif;
font-family: 'Cousine', monospace;
font-family: 'Gloock', serif;
font-family: 'Labrada', serif;
font-family: 'Major Mono Display', monospace;
font-family: 'Monoton', cursive; */



body {
    background-color: rgb(164, 134, 115);
    background-image: url("figs.svg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    

}
/* Nav Bar */
.routing {
    display: flex;
    justify-content: end;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 1%;

}

.routing #resume a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(49, 33, 16);
    font-size: 13pt;
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;

}

.routing #resume a:hover {
    color:floralwhite;
    text-decoration: none;
    text-shadow: rgb(226, 199, 181) 5px 0 10px;
   
   
}

.routing #github a, .routing #linkedin a {
    color: rgb(35, 36, 36);
    text-shadow: 0 0 5px rgb(10, 32, 20, 0.2);
 
 
}

.routing #github {
    margin-left: 1%;
    background-color: transparent;
    border-radius: 100%;
    box-shadow:rgb(226, 199, 181) 5px 5px 10px;
    
 }

.routing #github:hover {
    background-color: rgb(226, 199, 181);
    border-radius: 100%;
    box-shadow: rgb(226, 199, 181) 5px 5px 10px;
   
}

.routing #linkedin {
    margin-left: 1%;
    background-color: transparent;
    border-radius: 10%;
    box-shadow: rgb(226, 199, 181)5px 5px 10px;
    

}

.routing #linkedin:hover {
    background-color: rgb(226, 199, 181);
    border-radius: 10%;
    box-shadow: rgb(226, 199, 181);

}

/* hr {
    border: none;
    background-image: linear-gradient(to right, rgb(0,0,0,0), rgb(191,179,76 ),rgb(191, 179, 76), rgba(255,0,0,0));
    height: 15px;
} */

/* Header */
.intro {
    background-image: linear-gradient(to right, rgb(0,0,0,0), rgb(0,0,0,0),rgb(0,0,0,0),floralwhite, rgba(255,0,0,0));
    display:flex;
    color:floralwhite;
    font-family: 'Cousine', monospace;
    border: 5px solid;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-image: linear-gradient(to right, rgb(0,0,0,0),rgb(0,0,0,0),rgb(0,0,0,0),rgb(204, 78, 63), rgb(226, 199, 181)) 1;
 

  
    
}



h1 {
    font-family: 'Major Mono Display', monospace;
    margin-left: 8%;
    /* margin-top: 2%; */
    font-size: 70pt;
    font-weight: bold;
    text-shadow: 0 0 15px rgb(204, 78, 63);
    color: floralwhite
    
}

span {
    display: flex;
    
}








.row #fun-bar {
    margin-top: 10px;
    background-color: floralwhite ;
    font-family: 'Cousine', monospace;;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(25, 11, 8, 0.75);
    cursor:default;
    height: 29em;
    overflow-x: hidden;
    overflow-y: auto;
   
    
}

.row ul {
    display: inline-block;
    align-self: auto;
    padding: 10px;
  
}

.row h3 {
    display: flex;
    text-align: center;
  
}

.row #fun-bar li a {
    color: rgb(3, 78, 49);
    display: flex;

}

.row #fun-bar li :hover {
    box-shadow: rgb(3, 78, 49) 5px 5px 10px ;
    display: flex;
    text-decoration: none;
  
}



 









 