body {
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(10, 32, 20));
    padding-bottom: 5%;
    
}

.intro {
    background-image: linear-gradient(to right, rgb(0,0,0,0), rgb(0,0,0,0), rgb(183, 218, 76), rgba(255,0,0,0));
    display:flex;
    flex-direction: column;
    /* margin-top: 10%; */
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 10%;
    font-size: 60pt;
    font-weight: bold;
    
 
}

p {
    margin-left: 10%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    text-align: justify;

}

span {
    display: flex;
    
}

button {
    margin-left: 10%;
    background-color: rgb(35, 36, 36);
    height: 40px;
    width: 300px;
    border-radius: 15px;
    color: white;
    border: none;
    border: 1px solid white;
    height: 60px;
    width: 300px;
    text-shadow: #FC0 5px 0 10px;

}
#hello {
    font-size: 20pt;

}

button:hover {
    border: 1px solid white;
    height: 60px;
    width: 300px;
    text-shadow: #FC0 5px 0 10px;
   
}

div#line1 span#a {
    display: inline;
}
  
div#line1:hover span#a {
    display: none;
}
  
div#line1 span#b {
    display: none;
}
  
div#line1:hover span#b {
    display: inline;
    font-size: 16pt;
    font-family: 'Times New Roman', Times, serif;
}

.demo {
    color: white;
    display: none;
 }

 .routing {
    display: flex;
    justify-content: end;
    margin-top: 2%;
    margin-right: 2%;
 }

 .routing #github:hover {
    background-color: #FC0;
    border: 1px solid black;
    border-radius: 100%;


 
 }
 .routing #linkedin:hover {
    background-color: #FC0;
    border-radius: 10%;

 }

.routing #linkedin {
    margin-left: 1%;

 }

 .routing #github {
    margin-left: 1%;
 }

 /* .resume a {
    display: flex;
    margin-top: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(35, 36, 36);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

 } */


 b {
    color: #799657;
    font-size: 60pt;
    font-weight: bolder;

 }

 q {
    font-style: italic;
 }

 h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 63%;
    color: rgb(35, 36, 36);
    font-size: 15pt;
  
 }
.intro a {
    color: rgb(35, 36, 36);
}

.intro a:hover {
    color:whitesmoke;
    text-decoration: none;
    height: 60px;
    width: 300px;
    text-shadow: #FC0 5px 0 10px;
}


 img{
   margin-top: 2%;
   margin-left: 40%;
   width: 50%;
   height: 50%;
 }





